<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>

<div class="apiToggle">
    <a href="/students">Vezi studentii</a> sau <a href="/profs">Vezi profesorii</a>
</div>

<div class="result">
v
</div>

<script src="js/main.js"></script>
</body>
</html>